img {
  max-width: 100%;
}

:target {
  scroll-margin-top: 150px;
}

header {
  background-color: #E53535;
  position: sticky;
  top: 0;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 10px;
  color: white;
  margin: 0;
  padding: 0 10px;
  overflow-x: auto;
}

header nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

header nav a:active {
  background-color: #df5c5c;
}

/* menu */
.navbar {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #e0e0e0;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
}

.navbar a {
  text-decoration: none;
  color: #000;
  text-align: center;
  flex-grow: 1;
}

.navbar a .icon {
  display: block;
  margin-bottom: 5px;
  font-size: 24px;
}

.navbar a.active {
  color: #FF4500;
  /* cor para o item ativo */
}

.cart-badge {
  position: absolute;
  top: -5px;
  right: 20px;
  background-color: #FF4500;
  color: #fff;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 12px;
}

/* cardapio */
.cardapio-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 40px 20px 40px;
}

.cardapio-banner h3 {
  color: #fff;
  text-transform: uppercase;
}

.alimento {
  background-color: #9E9E9E59;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.foto-alimento {
  width: 100px;
}
